* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  clear: both;
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(40px); /* Adding 'px' for unit */
  -webkit-backdrop-filter: blur(40px); /* For Safari */
  filter: blur(5px);
}

.popup_sums {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.664);
  padding: 10px;
  z-index: 99999999999999;
  border-radius: 0px 10px 0px 0px;
  line-height: 17px;
  width: 290px;
  display: none;
  color: ghostwhite;
  font-size: smaller;
}
.popup_sums p {
  margin-bottom: 10px;
}

.view_img {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.view_img .img {
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s;
}
.view_img .img .close_img {
  position: absolute;
  top: 5%;
  right: 3%;
  color: rgb(38, 119, 240);
  z-index: 999;
}
.view_img .img .img_display {
  transition: 2s;
  width: 90%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.view_img .discript {
  background-color: rgb(208, 221, 235);
  flex: 0.55;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
  transition: 0.4s;
}
.view_img .discript .dis_header {
  margin-top: 10px;
  font-size: x-large;
  font-weight: 500;
  line-height: 23px;
}
.view_img .discript .date {
  margin-top: 10px;
  font-style: italic;
  font-size: smaller;
  color: rgb(53, 51, 51);
  margin-bottom: 40px;
}
.view_img .discript .dis_summary {
  margin-top: 10px;
  color: rgba(17, 16, 16, 0.877);
  font-size: small;
}
@media (max-width: 768px) {
  .view_img {
    flex-flow: column;
  }
  .view_img .discript {
    flex: 0.25;
    height: 100%;
    width: 100%;
    padding: 25px;
    overflow: hidden;
    border-radius: 35px 35px 0px 0px;
    text-align: justify;
  }
  .view_img .discript p {
    margin-bottom: 10px;
  }
}

.drive_content {
  width: 1464px;
  height: 100%;
  padding: 20px 20px 0px 20px;
}
@media (max-width: 1464px) {
  .drive_content {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .drive_content {
    padding: 10px 10px 0px 10px;
  }
}
.drive_content .drive_header {
  padding: 35px;
}
.drive_content .drive_holder {
  position: relative;
}
.drive_content .drive_holder .drive_btns {
  position: relative;
  top: 2%;
  left: 0;
  padding: 20px;
  z-index: 9999999;
  width: 100%;
  border-radius: 35px 35px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.drive_content .drive_holder .drive_btns .dbtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  padding: 5px;
  height: 100%;
  width: 100%;
}
.drive_content .drive_holder .drive_btns .dbtn .swap_data {
  margin-right: 20px;
}
.drive_content .drive_holder .drive_btns .dbtn .swap_data button {
  margin-left: 1px;
}
.drive_content .drive_holder .drive_btns .dbtn button {
  background-color: transparent;
  outline: 0;
  border: none;
  border-radius: 16px;
  padding: 5px 18px;
  cursor: pointer;
  background-color: rgba(75, 129, 247, 0.685);
  margin-left: 10px;
  color: rgb(23, 23, 24);
  transition: 0.4s;
}
.drive_content .drive_holder .drive_btns .dbtn button:hover {
  background-color: rgba(13, 76, 211, 0.685);
  color: rgb(0, 0, 0);
}
@media (max-width: 528px) {
  .drive_content .drive_holder .drive_btns .hidden_btn_android {
    display: none;
  }
}
.drive_content .drive_holder .height_holder {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 35px 35px 0px 0px;
  width: 100%;
  height: 100vh;
  background-color: rgb(208, 221, 235);
}
.drive_content .drive_holder .drive_holder {
  padding: 55px 25px 25px 25px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px 35px 0px 0px;
  background-color: rgb(208, 221, 235);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 425px) {
  .drive_content .drive_holder .drive_holder {
    gap: 5px;
  }
}
.drive_content .drive_holder .drive_holder .item {
  width: 290px;
  height: 190px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.drive_content .drive_holder .drive_holder .item .card_full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.drive_content .drive_holder .drive_holder .item .card_full .img_card {
  width: 265.55px;
  height: 154.83px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 21px;
  z-index: 9999999;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4s;
  cursor: pointer;
}
.drive_content .drive_holder .drive_holder .item .card_full .img_card_a {
  position: absolute;
  border-radius: 21px;
  width: 265.55px;
  height: 154.83px;
  border: 1px solid rgba(0, 0, 0, 0.274);
  rotate: 8.38deg;
  background-color: rgb(41, 40, 40);
  transition: 0.4s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.drive_content .drive_holder .drive_holder .item .card_full .img_card_b {
  position: absolute;
  border-radius: 21px;
  width: 265.55px;
  height: 154.83px;
  rotate: -6.88deg;
  background-color: rgb(77, 76, 76);
  border: 1px solid rgba(0, 0, 0, 0.274);
  transition: 0.4s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.drive_content .drive_holder .drive_holder .item .card_full:hover .img_card {
  background-position: bottom;
}
.drive_content .drive_holder .drive_holder .item .card_full:hover .img_card_a {
  rotate: -6.88deg;
}
.drive_content .drive_holder .drive_holder .item .card_full:hover .img_card_b {
  rotate: 8.38deg;
}/*# sourceMappingURL=app.css.map */