* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(222, 222, 231);

    display: flex;
    justify-content: center;
    align-items: center;
}

//======[S] HOVER POPUP
.popup_sums{
    position: fixed;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.664);
    padding:10px;
    z-index:99999999999999;
    border-radius: 0px 10px 0px 0px;
    line-height:17px;
    width:290px;
    // transition:.5s;
    display:none;
    color:ghostwhite;

    font-size: smaller;

    p{
        margin-bottom:10px;
    }
}
//======[E] HOVER POPUP


//======[S] IMG VIEW
.view_img{
    position: fixed;
    display:none;
    top:0; left:0;
    width:100%;
    height:100%;
    z-index:9999999999999;
    background-color: black;


    justify-content: center;
    align-items: center;
    flex-flow: row;

    .img{
        flex:1;
        height:100%;
        width:100%;
        padding:20px;

        display: flex;
        justify-content: center;
        align-items: center;

        .img_display{
            width:95%;
            height:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .discript{
        background-color: rgb(135, 182, 204);
        flex:.55;
        height:100%;
        width:100%;
        overflow: auto;
    }


    @media(max-width:768px) {

        .discript{
            background-color: rgb(135, 182, 204);
            flex:.25;
            height:100%;
            width:100%;
            padding:20px;
            overflow: auto;
            border-radius: 35px 35px 0px 0px;
        }

        flex-flow: column;
    }
}
//======[E] IMG VIEW










.drive_content {
    width: 1464px;
    height: 100%;
    padding: 20px 20px 0px 20px;

    @media (max-width: 1464px) {
        width: 100%;
    }
    @media (max-width: 425px) {
        padding: 10px 10px 0px 10px;
    }

    .drive_header {
        padding: 35px;
    }

    .drive_holder {
        position: relative;

        .drive_btns{
            position: relative;
            top: 2%; left: 0;
            padding:20px;
            z-index: 9999999;
            width:100%;
            // border: 1px solid red;
            border-radius: 35px 35px 0px 0px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row;

            

            .dbtn{

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-flow: row;

                padding:5px;
                height:100%;
                width:100%;
                // border: 1px solid black;

                .swap_data{
                    margin-right:20px;
                }



                button{
                    background-color:transparent;
                    outline:0;
                    border:none;
                    border-radius:16px;
                    padding:5px 20px;
                    cursor: pointer;
                    background-color:rgba(75, 129, 247, 0.685);

                    &:hover{
                        background-color:rgba(15, 80, 221, 0.685);
                    }

                }
 
            }


            @media (max-width: 528px) {
                .hidden_btn_android{
                    display: none;
                }
            }

        }

        .height_holder {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 35px 35px 0px 0px;
            width: 100%;
            height: 100vh;
            background-color: rgb(193, 194, 224);
        }

        .drive_holder {
            padding: 55px 25px 25px 25px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            border-radius: 35px 35px 0px 0px;
            background-color: rgb(193, 194, 224);

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: row;
            flex-wrap: wrap;

            gap: 20px;

            @media (max-width: 425px) {
                gap: 5px;
            }

            .item {
                width: 290px;
                height: 190px;

                display: inline-block;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;

                .card_full {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: row;

                    .img_card {
                        width: 265.55px;
                        height: 154.83px;
                        border: 1px solid rgba(0, 0, 0, 0.274);
                        border-radius: 21px;
                        z-index: 9999999;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: 0.4s;
                        cursor: pointer;
                    }

                    .img_card_a {
                        position: absolute;
                        border-radius: 21px;
                        width: 265.55px;
                        height: 154.83px;
                        border: 1px solid rgba(0, 0, 0, 0.274);
                        rotate: 8.38deg;
                        background-color: rgb(41, 40, 40);
                        transition: 0.4s;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    .img_card_b {
                        position: absolute;
                        border-radius: 21px;
                        width: 265.55px;
                        height: 154.83px;
                        rotate: -6.88deg;
                        background-color: rgb(77, 76, 76);
                        border: 1px solid rgba(0, 0, 0, 0.274);
                        transition: 0.4s;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:hover {
                        .img_card {
                            background-position: bottom;
                        }

                        .img_card_a {
                            rotate: -6.88deg;
                        }
                        .img_card_b {
                            rotate: 8.38deg;
                        }
                    }
                }
            }
        }
    }
}
